{sys,
 [
  {lib_dirs, [ "../deps", "../.." ]},
  {rel, "dk_yaws", "0.0.1",
   [
    kernel, stdlib, sasl, gs, appmon, dk_yaws
   ]},
  {rel, "start_clean", "", [ kernel, stdlib ]},
  {boot_rel, "dk_yaws"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
                      "^erts.*/bin/(dialyzer|typer)"]},
  {excl_archive_filters, [".*"]},

  {app, ssl,     [{incl_cond, include}]},
  {app, inets,   [{incl_cond, include}]},
  {app, sasl,    [{incl_cond, include}]},

  {app, dk_yaws, [{incl_cond, include}]},
  {app, yaws,    [{incl_cond, include}]},

  %% Artifact of having tsung installed in $ERL_TOP
  {app, tsung,            [{incl_cond, exclude}]},
  {app, tsung_recorder,   [{incl_cond, exclude}]},
  {app, tsung_controller, [{incl_cond, exclude}]}
 ]}.

{target_dir, "dk_yaws"}.

{overlay,
 [
  {mkdir, "log/sasl"},
  {copy, "files/erl",        "{{erts_vsn}}/bin/erl"},
  {copy, "files/nodetool",   "{{erts_vsn}}/bin/nodetool"},
  {copy, "files/dk_yaws",    "bin/dk_yaws"},
  {copy, "files/app.config", "etc/app.config"},
  {copy, "files/vm.args",    "etc/vm.args"}
 ]}.
