[
 %% SASL config
 {sasl,
  [
   {errlog_type,              error},
   {error_logger_mf_dir,      "log/sasl"},
   {error_logger_mf_maxbytes, 10485760},
   {error_logger_mf_maxfiles, 5},
   {sasl_error_logger,        {file, "log/sasl-error.log"}}
  ]
 },

 %% Supplying dk_yaws parameters in the app.config
 %% overrides the hardwired defaults of 8888 and /var/www/dk_yaws
 {dk_yaws,
  [
   {dk_yaws_ip,      {{default_ip}} },
   {dk_yaws_port,    {{default_port}} },
   {dk_yaws_docroot, {{default_docroot}} }
  ]
 }
].

